# Description: 
Airfares and passengers for U.S. Domestic Routes
for 4th Quarter of 2002.

# Variables/Columns

City1   1-3

City2   5-7

Average Fare    11-17

Distance      20-23

Average weekly passengers   26-33

market leading airline    36-37

market share     40-45

Average fare    48-54

Low price airline   57-58

market share    61-66

price     69-75

# Source: 
U.S. Department of Transportation

# 1. Reading Source File and Checking Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#reading source file
file=pd.read_csv("http://users.stat.ufl.edu/~winner/data/airq402.dat", sep='\s+'  , engine='python')

In [4]:
# Adding colunm names as mentioned in data file
file.columns = ['City1', 'City2', 'Average Flight Fare', 'Distance','Average Weekly Passengers','Market Leading Airline (MLA)',
               'Market Share MLA', 'Average MLA Fare', 'Low Price Airline (LPA)', 'Market Share LPA', 'Average LPA Fare']

In [5]:
file.head()

,City1,City2,Average Flight Fare,Distance,Average Weekly Passengers,Market Leading Airline (MLA),Market Share MLA,Average MLA Fare,Low Price Airline (LPA),Market Share LPA,Average LPA Fare
0,CAK,MCO,122.47,860,276.84,FL,75.10,123.09,DL,17.23,118.94
1,ALB,ATL,214.42,852,215.76,DL,78.89,223.98,CO,2.77,167.12
2,ALB,BWI,69.40,288,606.84,WN,96.97,68.86,WN,96.97,68.86
3,ALB,ORD,158.13,723,313.04,UA,39.79,161.36,WN,15.34,145.42
4,ALB,FLL,135.17,1204,199.02,WN,40.68,137.97,DL,17.09,127.69

# 2. Data Cleaning

In [7]:
# getting total number of rows and column in the dataframe
print(f" Shape of the dataframe = {file.shape}")
totalrows=file.shape[0]
print(f" Total number of rows in the dataset =  {totalrows}")

 Shape of the dataframe = (999, 11)
 Total number of rows in the dataset =  999

In [8]:
# Checking Null colunms
file_nullcols = file.isnull().sum()
file_nullcols

# No null values are found

City1                           0
City2                           0
Average Flight Fare             0
Distance                        0
Average Weekly Passengers       0
Market Leading Airline (MLA)    0
Market Share MLA                0
Average MLA Fare                0
Low Price Airline (LPA)         0
Market Share LPA                0
Average LPA Fare                0
dtype: int64

In [9]:
# Checking data type of each colunm to check if any type needs to be changed
file.dtypes

City1                            object
City2                            object
Average Flight Fare             float64
Distance                          int64
Average Weekly Passengers       float64
Market Leading Airline (MLA)     object
Market Share MLA                float64
Average MLA Fare                float64
Low Price Airline (LPA)          object
Market Share LPA                float64
Average LPA Fare                float64
dtype: object

In [10]:
# Checking basic details of the data
file.describe()

,Average Flight Fare,Distance,Average Weekly Passengers,Market Share MLA,Average MLA Fare,Market Share LPA,Average LPA Fare
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,163.424374,1057.502503,672.527107,60.118519,166.703233,34.515806,143.225285
std,55.371544,643.307320,766.863056,19.374859,62.666775,27.087067,47.241860
min,50.520000,108.000000,181.410000,17.680000,50.520000,1.060000,49.610000
25%,126.025000,554.000000,257.115000,46.510000,124.120000,13.190000,113.825000
50%,161.360000,919.000000,404.780000,59.060000,161.440000,26.120000,137.830000
75%,197.435000,1455.000000,770.265000,73.520000,203.105000,52.950000,168.540000
max,401.230000,2724.000000,8950.760000,100.000000,490.030000,100.000000,387.940000

In [11]:

# Mean of distance, Average Weekly Passengers, Market share is above median
#These prima facie seem to have outliers

# 3. EDA